body, html {
    height: 100%;
    margin: auto;
    background-color: darkgrey;
    /* background-image: url("gk.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    font-size: 16px;
    font-family: Roboto, "Lucida Grande", Tahoma;
}

a {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    color: white;
    text-decoration: none;
}

.characterTree{
    position: fixed;
    text-align: center;
    font-size: 60%;
    height: 45%;
}
.treeDot{
    background-color: #FFFFBB;
    width: 100px;
}
.treeDash{
    background-color: #BBDDFF;
    width: 100px;
}
.treeDotHigh{
    background-color: #FFFF00;
    width: 100px;
}
.treeDashHigh{
    background-color: #7799FF;
    width: 100px;
}

#dotProgress{
    position: fixed;
    top: 50%;
    left: 0;
    width: 14%;
    background-color: grey;
    border-right: 2px solid;
}
#dotBar{
    width: 0;
    height: 30px;
}
#dashProgress{
    position: fixed;
    top: 50%;
    left: 0;
    width: 42%;
    background-color: grey;
    border-right: 2px solid;
}
#dashBar{
    width: 0;
    height: 30px;
}
#overflowProgress{
    position: fixed;
    top: 50%;
    left: 0;
    width: 50%;
    background-color: grey;
}
#overflowBar{
    width: 0%;
    height: 30px;
    background-color: red;
}

#gapOverflowProgress{
    position: fixed;
    top: 60%;
    left: 0;
    width: 100%;
    background-color: grey;
}
#gapOverflowBar{
    width: 0;
    height: 30px;
    background-color: red;
}
#gapWordProgress{
    position: fixed;
    top: 60%;
    left: 0;
    width: 98%;
    background-color: grey;
    border-right: 2px solid;
}
#gapWordBar{
    width: 0;
    height: 30px;
}
#gapLetterProgress{
    position: fixed;
    top: 60%;
    left: 0;
    width: 42%;
    background-color: grey;
    border-right: 2px solid;
}
#gapLetterBar{
    width: 0;
    height: 30px;
}
#gapElementProgress{
    position: fixed;
    top: 60%;
    left: 0;
    width: 14%;
    background-color: grey;
    border-right: 2px solid;
}
#gapElementBar{
    width: 0;
    height: 30px;
}

.toneType{
    position: fixed;
    left: 30%;
    top: 5%;
    font-size: 200%;
}
.toneTime{
    position: fixed;
    left: 30%;
    top: 20%;
    text-align: right;
}
.currentSentence{
    position: fixed;
    right: 10%;
    top: 20%;
    text-align: right;
    font-size: 200%;
    font-family: "Lucida Console", Monaco, monospace
}

.keyButton {
    position: fixed;
    left: 25%;
    bottom: 0;
    background: dimgrey;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 2em;
    margin: 2em;
    width: 50%;
}

